<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Here2Share - Connecting renters to buyers</title>
    {{!-- font awesome --}}
    <script src="https://use.fontawesome.com/b10b25c00d.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    {{> header}}
    <div class="container">{{{body}}}
        <div id="clear"></div>
    </div>
    {{>footer}}
<script src="/assets/js/script.js"></script>
</body>
</html>