<h1 class="main-header">Sign Up</h1>


<form action="/signup" method="post">

    <lable>Username</lable><br>
    <input type="text" name="username"><br><br>
    <lable>Email</lable><br>
    <input type="email" name="email"><br><br>
    <lable>First Name</lable><br>
    <input type="text" name="firstname"><br><br>
    <lable>Last Name</lable><br>
    <input type="text" name="lastname"><br><br>
    <lable>City</lable><br>
    <input type="text" name="city"><br><br>
    <lable>State</lable><br>
    <input type="text" name="state"><br><br>
    <lable>Street</lable><br>
    <input type="text" name="street"><br><br>
    <lable>Password</lable><br>
    <input type="password" name="password"><br><br>
    <lable>Password Confirmation</lable><br>
    <input type="password" name="confirm"><br><br>

    <button type="submit">Sign up</button>
</form>