
/* ==========================================================================
        CSS Reset
   ========================================================================== */
/**/

html, body, ul, ol, li, form, fieldset, legend
{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td
{
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

input, textarea, select
{
	font-size: 110%;
	line-height: 1.1;
}

abbr, acronym
{
	border-bottom: .1em dotted;
	cursor: help;
}





/* ==========================================================================
        Global Styles
   ========================================================================== */
/**/


*,*:after,*:before {
    box-sizing: border-box
}



body {
    background: #eceff1!important;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
     font-size: 14px;
    line-height: 1.5;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.font {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.black-gradient-bg {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a { text-decoration: none;}

.orange-gradient-bg {
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.red-gradient-bg1 {
    background: #e43a15;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e65245, #e43a15);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e65245, #e43a15); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.yellow-gradient-bg1 {
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.royalblue-gradient-bg {
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.banner-bg {
    /* background: linear-gradient(270deg, #00ffff, #ff7bac); */
    padding: 10px;
}
.white { color: white;}
.pink-color {
    color: #F64C72;
    
}

.pink-bg {
    background: #F64C72;
}

.shadow {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.3);
}

.border-grey {border: 1px solid #ccc;}

.full-width {
    width: 100%;
}

.padding20 {
    padding:20px;
}


.white-text {color:white;}

.text-center {text-align: center;}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row-center {
    display: flex;
    align-items: center;

}

.flex-row-spaceEvenly {
    display: flex;
    justify-content: space-between;
}

.flex-row-justifyCenter {
    display: flex;
    justify-content: center;
}


.marginTp10 { margin-top: 10px;}
.marginBtm10 {margin-bottom: 10px;}
.marginRt10 { margin-right: 10px;}
.marginTp50 {margin-top: 50px;}
.marginBtm50 {margin-bottom: 50px;}
.font20 { font-size: 20px;}

.red { color: red;}
.lightgreen { color: green; }
.lightgreen-bg { 
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
 }

.no-pdmg {
    padding: 0 !important;
}

/* ==========================================================================
        Body Styles
   ========================================================================== */
/**/


header {
    color: white;
}


.jumbotron {
    background-image: url("../img/banner2.jpg");
    background-size: cover;}

    .intro {
        color: white;
        font-weight: bold;
    }

.productImg {height: 200px; }


footer {
    height: 50px;
    color: white;
    text-align: center;
}